body{
    background-color: blue;
    font-family: 'Poppins', sans-serif;
}
.pop-up{
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 30px 60px;
    color: #333;
}
.note-pad{
    color: #080814;
    font-size: 17px;
    font-weight: 600;
}
.btn{
    background-color: #cf1a1a ;
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    /* float: right; */
    
    position: absolute;
    top: 250px;
    left: 400px;
}